<h2>Create new Student</h2>

<form action="/students" method="post" accept-charset="utf-8">
  <p>Name: <input type="text" id="name" value="" name="student[name]" /></p>
  <p>Twitter: <input type="text" id="twitter" value="" name="student[twitter]" /></p>
  <p>LinkedIn: <input type="text" id="linkedin" value="" name="student[linkedin]" /></p>
  <p>Quote: <input type="text" id="quote" value="" name="student[quote]" /></p>
  <p><input type="submit" value="Add student!" /></p>
</form>